@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth !important;
  background-color: #F8F8F8 !important;
  transition: 0.3s all ease-in-out !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-moz-selection {
  color: #F8F8F8;
  background: #1EB2A6;
}

::selection {
  color: #F8F8F8;
  background: #1EB2A6;
}


@layer components {
  .profileTableHeading {
    @apply w-full flex justify-between items-center px-3 py-1.5 text-lg border-0 border-transparent;
  }
  .profileTableData {
    @apply w-2/3 text-left px-3 py-1.5 text-lg border-0 border-transparent;
  }
}